body{
  margin: 0%;
  padding: 0%;
  color: black;
}
h1 {
  text-align: center;
}
.caixa1 {
  position:absolute;
  background: pink;
  width: 200px;
  height: 200px;
  color:  black;
  left: 40%
}
.caixa2 {
  position: absolute;
  background: rgb(185, 152, 223);
  width: 200px;
   height: 700px;
  color: black;
  left: 55%;
}
.menuPrincipal { 
  position: absolute;
  width: 100%;
  height: 45px;
  background: rgb(214, 184, 235);
  top: 0;
  left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(250, 246, 246) (255, 255, 255);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  color: rgb(17, 17, 17);
  background: violet;
}
#imagem {
  width: 100%;
}
.boxarvore {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 99%;
  background: rgb(8, 8, 8);
  top: 10px;
  left: 100%;
  margin: 100px;
  border-color: rgb(184, 138, 190);
  border-width: 500px;
  border-style: solid;
  padding: 20px;
}
.conteudo {
  position: absolute;
  top: 55px;
  text-align: center;
  
}
.rodape {
  position: absolute;
  width: 100%;
  height: 35px;
  background: #d5b9d6;
  color: #FFFFFF;
  bottom: 0;
}
h1 {
  text-align: center; 
  font-style: italic;

}


